.accordion-item {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .accordion-item__wrapper {
        display: flex;
        justify-content: space-between;
    }
}